
pixelperfect($image, $fixsize = false)
  position relative

  &::before
    content ''
    position absolute
    left 50%
    top 0
    margin-left image-size($image)[0] * -0.5
    imgbox $image
    z-index: 99999999
    opacity 0.5
    pointer-events none

  if ($fixsize)
    width image-size($image)[0]
    height image-size($image)[1]
